{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Learners Log</title>

	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"  media="screen,projection"/>

	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body>

{% block header %}

{% endblock header %}

{% block content %}



{% endblock content %}

		<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'app.js' %}"></script>

</body>
</html>
